.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 3;
    &-hidden {
        display: none;
    }

    &--text {
        margin: 50px;
        font-size: 24px;
        text-align: center;
    }
    &--image {
        background-image: url('../../assets/img/failure.jpg');
        width: 50%;
        height: 100%;
        background-repeat: no-repeat;
        background-size:contain;
        margin: auto;
        &-win {
            background-image: url('../../assets/img/success.jpg');

        }
    }
}
